*.blend
*.meta
*.asset
*.mat
*.preset
*.unity
Library/
Logs/
Packages/
ProjectSettings/
Temp/
obj/
*.csproj
*.sln
*.renderTexture
*.png
*.suo
Assets/Free_SpeedTrees/
Assets/Samples/Terrain Tools/
EasyRoads3Dv3/
Assets/EasyRoads3D/
*.tga
